.notice-bar {
  //   background-color: #2f2d2e;
  width: 100%;
  padding: 8px 0; // Немного уменьшил padding для компактности
  transition: transform 0.3s ease; // Плавное скрытие/появление

  &__container {
    // max-width: 1400px;
    margin: 0 auto;
    // padding: 0 16px;
  }

  &__text {
    color: #ffffff;
    font-size: 12px; // Уменьшил для мобильных
    line-height: 1.4;
    text-align: left;
    margin: 0;

    @media (min-width: 768px) {
      font-size: 14px;
    }
  }
}
